In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rc
from collections import Counter

In [13]:
hwinv_df = pd.read_csv('(Internal)_hwinv_details.csv')
sccm_df = pd.read_csv('SCCM_ActiveDevices_04242019.csv')
nonrepo_df = pd.read_csv('(Internal)_nonrepodevice_details.csv')

In [3]:
#Finding the serial numbers in SCCM file that are not in HWINV
sccm_df['x1'] = sccm_df['SERIAL_NUMBER']
hwinv_df['x1'] = hwinv_df['Serial Number'] 
merged = sccm_df[~sccm_df.x1.isin(hwinv_df.x1)]
merged = merged['x1']
merged_complete = len(merged)
merged_complete

4594

In [4]:
#Finding the unique serial numbers in SCCM file that are not in HWINV
sccm_df['x1'] = sccm_df['SERIAL_NUMBER']
hwinv_df['x1'] = hwinv_df['Serial Number'] 
merged = sccm_df[~sccm_df.x1.isin(hwinv_df.x1)]
merged = merged['x1'].unique()
merged_unique = len(merged)
merged_unique

4452

In [5]:
#Finding out how many equipment serial numbers repeat from set found above
repeated_sn = merged_complete - merged_unique
repeated_sn

142

In [6]:
sccm_df[['SERIAL_NUMBER','x1']].head()

  SERIAL_NUMBER          x1
0    CNG0511FLT  CNG0511FLT
1    SGH415TWNP  SGH415TWNP
2    CZC3161YS8  CZC3161YS8
3    SGH9380P1G  SGH9380P1G
4    2UA52828CV  2UA52828CV

In [7]:
seen = []
repeated = []
for x in  sccm_df['x1']:
    if x not in seen:
        seen.append(x)
    else:
        repeated.append(x)

In [17]:
seen[0:20]

['CNG0511FLT',
 'SGH415TWNP',
 'CZC3161YS8',
 'SGH9380P1G',
 '2UA52828CV',
 'SGH118P8HZ',
 '2UA4071P50',
 '2UA44224DB',
 '2UA52828CW',
 'AUW3030073',
 'MXL1081VXJ',
 'MXL40911N7',
 'CNG752W1B4',
 '2UA9160RW3',
 '6CR6359PL4',
 'CZC8190BYC',
 '2UA74123M2',
 '5CG6400WKP',
 '3CR533098T',
 'JPA327ZQVH']

In [18]:
repeated[0:20]

['CND8251L01',
 nan,
 '2UA6162CYJ',
 nan,
 '5CG7375HBD',
 nan,
 '5CG8356R2M',
 '5CG7203LBZ',
 '5CG73768MM',
 '1234567890',
 nan,
 'CND8080CD1',
 nan,
 '5CG6272TG4',
 '8CG8512415',
 '5CG8232W3X',
 'SJG1234567',
 nan,
 nan,
 '5CG73913TK']

In [19]:
repeated_df = pd.DataFrame(
                { "Serial Number": repeated
                })
repeated_df = repeated_df.dropna(how='all')
repeated_df = repeated_df.loc[repeated_df['Serial Number'] != "Bogus"]
repeated_df.head(10)

   Serial Number
0     CND8251L01
2     2UA6162CYJ
4     5CG7375HBD
6     5CG8356R2M
7     5CG7203LBZ
8     5CG73768MM
9     1234567890
11    CND8080CD1
13    5CG6272TG4
14    8CG8512415

In [11]:
#repeated_df.to_csv('Repeated Serial Numbers.csv',index = False)