In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rc
from collections import Counter

In [2]:
hwinv_df = pd.read_csv('(Internal)_hwinv_details.csv')
sccm_df = pd.read_csv('SCCM_ActiveDevices_04242019.csv')
nonrepo_df = pd.read_csv('(Internal)_nonrepodevice_details.csv')

In [3]:
serials = hwinv_df['Serial Number']
hwinv_df.shape

(114341, 23)

In [4]:
sccm_df.shape

(74511, 20)

In [5]:
sccm_df['x1'] = sccm_df['SERIAL_NUMBER']
hwinv_df['x1'] = hwinv_df['Serial Number']

In [6]:
merged = sccm_df[~sccm_df.x1.isin(hwinv_df.x1)]
merged = merged['x1']
merged.shape

(4594,)

In [7]:
merged.head(10)

1     SGH415TWNP
15    CZC8190BYC
17    5CG6400WKP
22    MXL20900RZ
23    2UA5461TJQ
25    2UA0181CWW
27    MXL5171RSR
35    2UA63226GY
36    2UA44613F0
37    SGH402PH86
Name: x1, dtype: object

In [8]:
merged2 = hwinv_df[~hwinv_df.x1.isin(sccm_df.x1)]
merged2 = merged2['x1'].unique()
merged2.shape

(44550,)

In [10]:
merged2[0:20]

array(['CNU330BBWS', '5CG6396574', '5CG5141FJT', '5CG6053KCL',
       'CNU4169WYM', 'CNU430C83Z', '5CG7313549', 'CNU4289X5Z',
       'CND6401N66', 'CNU425C64L', '5CG6116XHG', '5CG6116XJ1',
       'CNU401CF00', '5CD6411JSJ', '5CG62154JM', '5CG6192JW1',
       '5CG643159P', 'CNU316CSFR', '5CG6053JZK', '5CG6103F5V'],
      dtype=object)

In [11]:
nonrepo_df.shape

(114341, 8)

In [12]:
nonrepo_df.columns

Index(['Last Seen', 'Device Name', 'Serial Number', 'Device Type',
       'Device Manufacturer', 'Last Seen Date', 'Enrollment Date',
       'Manufacture Date'],
      dtype='object')

In [13]:
nonrepo_df = nonrepo_df[['Last Seen', 'Device Name', 'Serial Number', 'Device Type', 'Last Seen Date', 'Enrollment Date','Manufacture Date']]
nonrepo_df.head(10)

,Last Seen,Device Name,Serial Number,Device Type,Last Seen Date,Enrollment Date,Manufacture Date
0,This week,A28,5CG81207DL,Notebook,4/22/2019 4:54,4/3/2019 0:00,3/20/2018 0:00
1,This week,AA11,5CG639648Z,Notebook,4/23/2019 0:06,1/9/2018 0:00,9/27/2016 0:00
2,This week,AAJAI5,5CG8378BP0,Notebook,4/23/2019 14:16,12/19/2018 0:00,9/11/2018 0:00
3,This week,AAK2,5CG6400G4T,Notebook,4/23/2019 2:27,1/10/2018 0:00,10/4/2016 0:00
4,This week,AALLEGRO8,5CG8110Y2X,Notebook,4/19/2019 2:59,4/30/2018 0:00,3/13/2018 0:00
5,This week,AAN3,5CG84555J6,Notebook,4/19/2019 0:23,3/26/2019 0:00,11/6/2018 0:00
6,This week,AARDAIZ8,CNU401B10P,Notebook,4/22/2019 21:33,5/8/2018 0:00,12/31/2013 0:00
7,This week,AARONELP1,5CG812089B,Notebook,4/21/2019 7:26,7/2/2018 0:00,3/20/2018 0:00
8,This week,AARONW15,5CG7364Q3M,Notebook,4/21/2019 16:32,9/18/2018 0:00,9/5/2017 0:00
9,This week,ABADMART2,CND80961R0,Notebook,4/22/2019 10:05,5/14/2018 0:00,2/27/2018 0:00

In [15]:
nonrepo_df['x1'] = nonrepo_df['Serial Number']
merged3 = nonrepo_df[~nonrepo_df.x1.isin(merged2)]
merged3 = merged3[['x1','Last Seen Date','Last Seen']]
merged3.head(10)
#merged3.to_csv('nonrepo_notin_sccm.csv')

            x1   Last Seen Date  Last Seen
0   5CG81207DL   4/22/2019 4:54  This week
1   5CG639648Z   4/23/2019 0:06  This week
2   5CG8378BP0  4/23/2019 14:16  This week
3   5CG6400G4T   4/23/2019 2:27  This week
4   5CG8110Y2X   4/19/2019 2:59  This week
5   5CG84555J6   4/19/2019 0:23  This week
7   5CG812089B   4/21/2019 7:26  This week
8   5CG7364Q3M  4/21/2019 16:32  This week
9   CND80961R0  4/22/2019 10:05  This week
10  5CG8120K7M  4/23/2019 10:29  This week